<div id="fh5co-about" class="animate-box">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>About Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <ul class="info">
            <li><span class="first-block">Full Name:</span><span class="second-block">Amit Kumar Patel</span></li>
            <li><span class="first-block">Phone:</span><span class="second-block">+ 07042079430</span></li>
            <li><span class="first-block">Email:</span><span class="second-block">amitkumarpatel44@gmail.com</span></li>
            <li><span class="first-block">Website:</span><span class="second-block">www.amitkumarpatel.co.in</span></li>
            
            <li><span class="first-block">Current Address:</span><span class="second-block">Flat 24, Tower 10, Palm Olympia near Gaur City, Noida Extension Greater Noida UP 201308</span></li>
            <li><span class="first-block">Permanent Address:</span><span class="second-block">
            <!-- S/o: Bhajamana Patel,  -->
            <div>House no. 91,</div> near jagarrnath temple, kuluta, Sundergarh, Orissa 770022</span></li>
          </ul>
        </div>
        <div class="col-md-8">
          <h2>Hello There!</h2>
          <p>I am a Ruby on Rails developer from Delhi India having 6+ years of experience, I love to code in ruby.</p>
          <p>I have 6 years of experience in web application developement. Experienced and sound knowledge in Ruby, Ruby on Rails, PostgreSQL, MySQL, JavaScript, Ajax, jQuery, HTML, CSS, Haml. Experience in Amazon Services AWS, Heroku, Simple Email Service by Amazon(SES). Experience in version control systems GIT. Experience in Agile development techniques, OOPS, MVC. Efficient team player, commitment towards work, hardworking, interested to learn and work new technologies and like to take up challenging tasks.</p>
          <p>
            <ul class="fh5co-social-icons">
              <li><a href="http://www.linkedin.com/in/amitkumarpatel44"><i class="icon-linkedin2"></i></a></li>
              <li><a href="https://www.facebook.com/amitkumarpatel44"><i class="icon-facebook2"></i></a></li>
              <li><a href="https://www.instagram.com/amitkumarpatel44/"><i class="icon-instagram"></i></a></li>
              <!-- <li><a href="https://twitter.com/amitkumarpatel"><i class="icon-twitter2"></i></a></li> -->
              <li><a href="https://github.com/amitkumarpatel"><i class="icon-github"></i></a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>My Resume</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-0">
          <ul class="timeline">
            <li class="timeline-heading text-center animate-box">
              <div><h3>Work Experience</h3></div>
            </li>
            <li class="animate-box timeline-unverted">
              <div class="timeline-badge"><i class="icon-suitcase"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Senior Developer</h3>
                  <span class="company">HCL Technologies - 2016 - Current</span>
                </div>
                <div class="timeline-body">
                  <p>Currrently working as a ruby on developrs in HCL tecnologies from last two and half years.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted animate-box">
              <div class="timeline-badge"><i class="icon-suitcase"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Junior Developer</h3>
                  <span class="company">Chetu India (p) ltd.- 2014 - 2016</span>
                </div>
                <div class="timeline-body">
                  <p>worked as a ruby on rails developer.</p>
                </div>
              </div>
            </li>
            <li class="animate-box timeline-unverted">
              <div class="timeline-badge"><i class="icon-suitcase"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Ruby on Rails Trainee</h3>
                  <span class="company">RubyEffect - 2012 - 2014</span>
                </div>
                <div class="timeline-body">
                  <p>started as a ruby on rails trainee in Rubyeffect.</p>
                </div>
              </div>
            </li>

            <br>
            <li class="timeline-heading text-center animate-box">
              <div><h3>Education</h3></div>
            </li>
            <li class="timeline-inverted animate-box">
              <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Bachelors Degree</h3>
                  <span class="company">Biju Pattanaik University of Technology - 2006 - 2010</span>
                </div>
                <div class="timeline-body">
                  <p>Completed my B.tech from college of engineering Bhubaneswar Orissa.</p>
                </div>
              </div>
            </li>
            <li class="animate-box timeline-unverted">
              <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">10 + 2</h3>
                  <span class="company">NSCB college Sambalpur - 2003 - 2005</span>
                </div>
                <div class="timeline-body">
                  <p>It's a small town in western orissa where i have completed my schooling and secondary education.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted animate-box">
              <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">High School</h3>
                  <span class="company">CSB Zilla School Sambalpur - 2002 - 2003</span>
                </div>
                <div class="timeline-body">
                  <p>Sambalpur is a small town in western orissa where i have completed my schooling and secondary education.</p>
                </div>
              </div>
            </li>
<!--             <li class="animate-box timeline-unverted">
              <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">Graduation</h3>
                  <span class="company">College Name - 1994 - 1998</span>
                </div>
                <div class="timeline-body">
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
              </div>
            </li> -->
            </ul>
        </div>
      </div>
    </div>
  </div>
  

  <div id="fh5co-features" class="animate-box">
    <div class="container">
      <div class="services-padding">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>My Services</h2>
          </div>
        </div>
        <div class="row">

          <div class="col-md-4 text-center">

            <div class="feature-left">
              <span class="icon">
                <i class="icon-browser"></i>
              </span>
              <div class="feature-copy">
                <h3>Web Developent</h3>
                <p>I have a 6+ years of experience in ruby on rails and this is what i know.</p>
              </div>
            </div>

          </div>

          <div class="col-md-4 text-center">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-support"></i>
              </span>
              <div class="feature-copy">
                <h3>Support</h3>
                <p>Provide supprt for ruby on rails applications .</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-paintbrush"></i>
              </span>
              <div class="feature-copy">
                <h3>Web Design</h3>
                <p>Small experience in designing and html as that is a part of web developement.</p>
              </div>
            </div>
          </div>
          
        </div>


        <div class="row">
          <div class="col-md-4 text-center">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-code"></i>
              </span>
              <div class="feature-copy">
                <h3>Code in Ruby</h3>
                <p>I like coding in ruby, I write algorithms and solve problems in ruby.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="feature-left">
              <span class="icon">
                <i class="icon-genius"></i>
              </span>
              <div class="feature-copy">
                <h3>API Services</h3>
                <p>Worked on couple of webservices and also provided some API services.</p>
              </div>
            </div>

          </div>

            <div class="col-md-4 text-center">
              <div class="feature-left">
                <span class="icon">
                  <i class="icon-search"></i>
                </span>
                <div class="feature-copy">
                  <h3>Deployment</h3>
                  <p>Set up production environment in AWS, Heroku and automated deployment for web application.</p>
                </div>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-skills" class="animate-box">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Skills</h2>
        </div>
      </div>
      <div class="row row-pb-md">
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <div class="chart" data-percent="95"><span><strong>Ruby</strong>90%</span></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <div class="chart" data-percent="93"><span><strong>Ruby On Rails</strong>90%</span></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <div class="chart" data-percent="90"><span><strong>Postgresql</strong>80%</span></div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <div class="chart" data-percent="89"><span><strong>MySQL</strong>80%</span></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <div class="chart" data-percent="85"><span><strong>Javascript</strong>70%</span></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <div class="chart" data-percent="90"><span><strong>jQuery</strong>70%</span></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <div class="chart" data-percent="85"><span><strong>HTML5</strong>70%</span></div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center">
          <div class="chart" data-percent="90"><span><strong>CSS3</strong>60%</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="progress-wrap">
            <h3><span class="name-left">Ruby</span><span class="value-right">90%</span></h3>
            <div class="progress">
              <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
              aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
              </div>
            </div>
          </div>
          <div class="progress-wrap">
            <h3><span class="name-left">JQuery</span><span class="value-right">70%</span></h3>
            <div class="progress">
              <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
              </div>
            </div>
          </div>

          <div class="progress-wrap">
            <h3><span class="name-left">Postgresql/MySQL</span><span class="value-right">80%</span></h3>
            <div class="progress">
              <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
              aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="progress-wrap">
            <h3><span class="name-left">Ruby on Rails</span><span class="value-right">90%</span></h3>
            <div class="progress">
              <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
              aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
              </div>
            </div>
          </div>
          <div class="progress-wrap">
            <h3><span class="name-left">Javascript</span><span class="value-right">80%</span></h3>
            <div class="progress">
              <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
              aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
              </div>
            </div>
          </div>
<!--           <div class="progress-wrap">
            <h3><span class="name-left">Python</span><span class="value-right">85%</span></h3>
            <div class="progress">
              <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
              aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
              </div>
            </div>
          </div> -->
          <div class="progress-wrap">
            <h3><span class="name-left">CSS3</span><span class="value-right">60%</span></h3>
            <div class="progress">
              <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
              aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Work</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(<%= asset_path 'portfolio-1.jpg' %>);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Satori</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(<%= asset_path 'portfolio-2.jpg' %>);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>GalaxyGaming</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(<%= asset_path 'portfolio-3.jpg' %>);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Syncrew</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(<%= asset_path 'portfolio-4.jpg' %>);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Nowfashion</span>
            </div>
          </a>
        </div>
        <!-- <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(<%#= asset_path 'portfolio-5.jpg' %>);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Website</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(<%#= asset_path 'portfolio-6.jpg' %>);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Illustration</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(<%#= asset_path 'portfolio-7.jpg' %>);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Brading</span>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center col-padding animate-box">
          <a href="#" class="work" style="background-image: url(<%= asset_path 'portfolio-8.jpg' %>);">
            <div class="desc">
              <h3>Project Name</h3>
              <span>Illustration</span>
            </div>
          </a>
        </div> -->
      </div>
    </div>
  </div>

  <!-- <div id="fh5co-blog">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Post on Medium</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg" style="background-image: url(<%#= asset_path 'portfolio-1.jpg' %>);"></a>
            <div class="blog-text">
              <span class="posted_on">Mar. 15th 2016</span>
              <h3><a href="#">Photoshoot On The Street</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="stuff">
                <li><i class="icon-heart2"></i>249</li>
                <li><i class="icon-eye2"></i>308</li>
                <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
              </ul>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg" style="background-image: url(<%#= asset_path 'portfolio-2.jpg' %>);"></a>
            <div class="blog-text">
              <span class="posted_on">Mar. 15th 2016</span>
              <h3><a href="#">Surfing at Philippines</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="stuff">
                <li><i class="icon-heart2"></i>249</li>
                <li><i class="icon-eye2"></i>308</li>
                <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
              </ul>
            </div> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg" style="background-image: url(<%#= asset_path 'portfolio-3.jpg' %>);"></a>
            <div class="blog-text">
              <span class="posted_on">Mar. 15th 2016</span>
              <h3><a href="#">Capture Living On Uderwater</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="stuff">
                <li><i class="icon-heart2"></i>249</li>
                <li><i class="icon-eye2"></i>308</li>
                <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
              </ul>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <div id="fh5co-started" class="fh5co-bg-dark">
    <div class="overlay"></div>
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Hire Me!</h2>
          <p>I work as a freelancer in ruby on rails as well as in ruby. For work related to freelancing e-mail me on below address or fill up the contact form.</p>
          <p><a class="btn btn-default btn-lg" href="mailto:example@email.com" title="Send E-mail"><i class="icon-mail"></i></a></p>
        </div>
      </div>
    </div>
  </div>

  <%= render "contact_form" %>

  <div id="map" class="fh5co-map"></div>
